.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.login {
  width: fit-content;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  transition: all 200ms ease-in-out;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: fit-content;
    height:fit-content;
    z-index: 99;
    padding: 17px 10px;
    transition: all 200ms ease-in-out;
  }
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  background-color: #3498db;
  width: 60%;
  position: absolute;
  right: -50%;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.left {
  right: 100%;
  align-items: center;
}